<!DOCTYPE html>
<html>

<head>
  {% load sass_tags %}
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'learnmylanguage/scss/faq.scss' %}" />
  <title>FAQ - Learn My Language, Babe</title>
</head>

<body>
  <a href='#'>Back</a>
  <h1>FAQ <img src="/static/images/flower.png"></h1>

  <h2>Registration</h2>
  <h3>1. WHY do you want my email?</h3>
  <p>We only use your email to send you and your partner a notification is one of you didnt study the day before.</p>

  <h3>3. how do i choose a language?</h3>
  <p>First of all you need to register in DuoLingo and pick a language to study there. If you cannot see languages appearing in the dropown during registration, please check if you enrolled in a language course on Duolingo. If it is still not
    working, drop me a line please.</p>

  <img src="/static/images/belt.png">

  <h2>Other</h2>

  <h3>1. How do you get data?</h3>
  <p>Duolingo has an API which serves users data. There is no personal data (e.g. email, real name), only duolingo study related data</p>

  <h3>2. How can i stop playing?</h3>
  <p>If you stop using Duolingo we will notice that you broke your streak and will send you one notification. If you will not start studying again the next day, we consider you a quitter. You will receive no more notifications from us.</p>

</body>

</html>