<!DOCTYPE html>
<html>

<head>
  {% load sass_tags %}
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'learnmylanguage/scss/index.scss' %}" />
  <title>Learn My Language, Babe</title>
</head>

<body>
  <div class="menu">
    <a href=#>FAQ</a>

  </div>
  <div class="container">
    <header>
      <div>
        <h1>Learn My <br> Language, Babe</h1>
        <p>keep your partner accountable of learning your language.</p>
      </div>
      <img src="/static/images/heart.png">
    </header>
    <div class="rules">
      <h2>Who can play?</h2>
      <p>2 registered Duolingo users who are enrolled in a language course.</p>
      <h2>How to play?</h2>
      <p>Practice Duolingo every day. Every player needs to meet their daily goal set in Duolingo. If the player does not meet the goal the other player is notified..</p>
    </div>
  </div>

</body>

</html>